<div class="container-fluid fixed-section">
    <div class="row">
        <div class="col-lg-2 col-md-3 p-0 d-none d-sm-none d-md-block">
            <div class="sidebar-wrapper">
                <app-sidebar></app-sidebar>
            </div>
        </div>



        <div class="col-lg-10 col-md-9 col-sm-12 p-0">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 p-0">
                        <app-header></app-header>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 p-0 d-md-none d-lg-none d-sm-block">
                    <div class="sidebar-wrapper">
                        <app-ssm></app-ssm>
                    </div>
                </div>
        
                <div class="container-fluid scrollable-div">
                    <div class="row">
                        <div class="col-lg-12">
                            <router-outlet></router-outlet>
                        </div>
                        <div>&nbsp;</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>