.btn-save {
      font-size: 12px;
      font-weight: bold;
      background-color: #214162;
      color: #d5e2ff; 
      border-radius: 8px; 
      padding: 10px 20px;
      border: 0;
  }

  .btn-save:active {
      color: #214162;
      background-color: #d5e2ff;
    }

  .close-btn {
      font-size: 12px;
      font-weight: bold;
      background-color: #f75220;
      color: #d5e2ff; 
      border-radius: 8px; 
      padding: 10px 20px;
      border: 0;
  }


  .close-btn:active {
      color: #f75220;
      background-color: #d5e2ff;
    }