<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="row d-flex justify-content-center">
                <div class="col-sm-2"> <button class="btn btn-light" style="margin-right: 15px;" (click)="load_dashboard()">Dashboard</button></div>
                <div class="col-sm-2"><button class="btn btn-light" style="margin-right: 15px;" (click)="load_articles()">Articles</button></div>
                <div class="col-sm-2"><button class="btn btn-light" style="margin-right: 15px;" (click)="load_art()">Arts</button></div>
                <div class="col-sm-2"><button class="btn btn-light" style="margin-right: 15px;" (click)="load_photography()">Photography</button></div>
                <div class="col-sm-2"><button class="btn btn-light" style="margin-right: 15px;" (click)="load_gallery()">Gallary</button></div>
            </div>
        </div>
    </div>
</div>
